# ======================================================
# ESSENTIAL TOOLS
# ======================================================
pip
setuptools
wheel

# JUPYTER & INTERACTIVE ENVIRONMENT
ipython
jupyter
ipykernel
ipywidgets

# ======================================================
# DATA ANALYSIS & MANIPULATION
# ======================================================
numpy
pandas

# ======================================================
# VISUALIZATION
# ======================================================
matplotlib
seaborn

# ======================================================
# MACHINE LEARNING (ML) & MODELS
# ======================================================
scikit-learn  # Required for Linear Regression & Random Forest


